#title {color: blue; font-size: 32px; font-style: italic;}
.menu-link {color: darkred; text-decoration: none;}
.section-title {color: purple; font-style: italic;}
.label {color: green; font-style: italic;}
.text {font-size: 18px;}
.info-list {color: black;}
